.comic {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comic Sans', cursive;
    padding: 1vmin;
    padding-bottom: 60px;
}

.panel {
    background-color: #fff;
    border: solid 2px #000;
    box-shadow: 0 6px 6px -6px #000;
    display: inline-block;
    flex: 1 1;
    height: 300px;
    margin: 1vmin;
    overflow: hidden;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .panel-appear {
    animation: fadeIn 0.5s forwards;
  }
  
  .panel-disappear {
    animation: fadeOut 0.5s forwards;
  }
  

.arrow-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.arrow-buttons button {
    margin: 0 10px;
}

/* Styles for the navigation buttons */
.navigation-button {
    background-color: #000;
    color: #fff;
    font-size: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
    width: 60px;
    height: 55px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: all .1s ease-in-out;
    box-shadow: 0 8px rgba(0, 0, 0, 0.8); /* deeper shadow for 3D effect */
    transform: perspective(600px) rotateX(15deg); /* 3D rotate effect */
    user-select: none;
}

.navigation-button:hover {
    background-color: #333; /* Slight color change on hover */
}

.navigation-button:active {
    transform: perspective(600px) rotateX(15deg) translateY(6px); /* Pressed effect with 3D translate */
    box-shadow: 0 2px rgba(0, 0, 0, 0.8); /* Smaller shadow for pressed effect */
}

.navigation-button:focus {
    outline: none;
}

.text {
    background-color: #fff;
    border: solid 2px #000;
    margin: 0;
    padding: 3px 10px;
}

.topLeft {
    left: -6px;
    position: absolute;
    top: -2px;
    transform: skew(-15deg);
}

.bottomRight {
    bottom: -2px;
    position: absolute;
    right: -6px;
    transform: skew(-15deg);
}

/* New class for top-right aligned text */
.topRight {
    right: -6px;
    position: absolute;
    top: -2px;
    transform: skew(-15deg);
}

/* New class for bottom-left aligned text */
.bottomLeft {
    left: -6px;
    position: absolute;
    bottom: -2px;
    transform: skew(-15deg);
}

/* New class for top-center aligned text */
.topCenter {
    position: absolute;
    top: -2px;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%) skew(-15deg); /* Center the text block and apply skew */
}

/* New class for bottom-center aligned text */
.bottomCenter {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%) skew(-15deg); /* Center the text block and apply skew */
    text-align: center;
}

.speech {
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 12px;
    max-width: 400px;
    word-wrap: break-word;
    display: inline-block;
    margin: .5em;
    padding: .5em 1em;
    position: relative;
}

.speech:before {
    border: solid 12px transparent;
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    bottom: -24px;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
}

.speech:after {
    border: solid 10px transparent;
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    bottom: -19px;
    content: "";
    height: 0;
    left: 27px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
}

    /* Flex basis for panels */
    .panel:nth-child(1) { flex-basis: 300px; }
    .panel:nth-child(2) { flex-basis: 400px; }
    .panel:nth-child(3) { flex-basis: 400px; }
    .panel:nth-child(4) { flex-basis: 500px; }
    .panel:nth-child(5) { flex-basis: 500px; }
    .panel:nth-child(6) { flex-basis: 500px; }
    .panel:nth-child(7) { flex-basis: 500px; }
    .panel:nth-child(8) { flex-basis: 400px; }
    .panel:nth-child(9) { flex-basis: 600px; }
    .panel:nth-child(10) { flex-basis: 300px; }
    .panel:nth-child(11) { flex-basis: 600px; }
    .panel:nth-child(12) { flex-basis: 500px; }
    .panel:nth-child(13) { flex-basis: 400px; }
    .panel:nth-child(14) { flex-basis: 600px; }
    .panel:nth-child(15) { flex-basis: 500px; }
    .panel:nth-child(16) { flex-basis: 300px; }
    .panel:nth-child(17) { flex-basis: 600px; }
    .panel:nth-child(18) { flex-basis: 500px; }
    .panel:nth-child(19) { flex-basis: 500px; }
    .panel:nth-child(20) { flex-basis: 700px; }
    .panel:nth-child(21) { flex-basis: 700px; }
    .panel:nth-child(22) { flex-basis: 500px; }
    .panel:nth-child(23) { flex-basis: 500px; }
    .panel:nth-child(24) { flex-basis: 500px; }
    .panel:nth-child(25) { flex-basis: 500px; }

    /* Background colours */
.panel:nth-child(4n+1) { background-image: radial-gradient(circle, yellow, orange); }
.panel:nth-child(4n+2) { background-image: radial-gradient(circle, lightblue, deepskyblue); }
.panel:nth-child(4n+3) { background-image: radial-gradient(circle, palegreen, yellowgreen); }
.panel:nth-child(4n+4) { background-image: radial-gradient(circle, lightcoral, tomato); }
