@font-face {
  font-family: 'streetFighter'; /* Define a name for your font */
  src: url('../fonts/Street-Fighter-Font/Act_Of_Rejection.ttf'); /* Point to the font file in your project */
  font-weight: normal;
  font-style: normal;
}

body, html {
    background-color: white;
}
.hoverable-btn:hover {
  font-family: 'streetFighter', Arial, sans-serif;
  color: #97B5C7 !important;
}

.firstGrid {
  position: relative;
  background-size: 100% auto; /* This will make the background image take the full width of the container */
  background-position: center center; /* This will center the background image vertically */
  background-repeat: no-repeat; /* This will prevent the background image from repeating */
}
@keyframes slideInFromLeft {
  0% {
    left: -100vw; /* Start from outside of the viewport */
  }
  100% {
    left: 30%; /* End at the normal position */
  }
}

.ryu-overlay {
  position: absolute;
  top: 50;
  left: 30%; /* Start from the left of the screen */
  width: 70vw; /* Full width of the viewport */
  height: 60vh; /* Full height of the container */
  background-size: contain;
  background-repeat: no-repeat; /* This will prevent the background image from repeating */
  z-index: 10; /* High z-index to overlay on top of other elements */
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(100px);
	}
}

.fade-out {
  animation: fadeOut 0.5s ease 0s 1 normal forwards;
}

.white-background {
  background: white !important;
}

.home_gif {
  width: 60px;
  height: 60px;
  mix-blend-mode: multiply;
}

@keyframes fadeFromBottom {
	0% {
		opacity: 0;
		transform: translateY(150px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.akuma-container {
  position: fixed;
  bottom: 0; /* Adjust as needed to ensure the gif is fully visible */
  left: 0%;
  width: 100vw;
  transform: translateX(-38%); /* Adjusting the exact center */
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat; /* This will prevent the background image from repeating */
  background-position: center center;
  z-index: 10; /* Ensure it is above other elements */
  animation: fadeFromBottom 2s ease 0s 1 normal forwards;
}

@keyframes BounceUp {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(200px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.bounce-up-item {
  animation: BounceUp 2s ease 0s 1 normal forwards;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-cursor {
  background-color: #B1B1B1;
  animation: blink 1s step-end infinite;
}

@keyframes slideUpItem {
  0% {
    transform: translateY(100%); /* Start from below the viewport */
  }
  100% {
    transform: translateY(0); /* End at the normal position */
  }
}

.slide-up-item {
  animation: slideUpItem 0.5s ease-out forwards;
  animation-fill-mode: backwards; /* This will apply the initial styles of the animation before it starts */
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

.grid-item-holder {
    height: calc(0.60 * (100vh - 64px));
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.grid-item-paper {
    height: calc(0.5 * (100vh - 64px));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease;
}

.grid-item-paper:hover {
    height: calc(0.60 * (100vh - 64px));
    transition: height 0.5s ease, font-weight 0.5s;
}

.inner-paper {
    width: calc(0.7 * 0.6 * (100vh - 64px)); 
    height: calc(0.5 * 0.6 * (100vh - 64px));
    background: #EFEFEF;
    display: flex;                  
    align-items: center;            
    justify-content: center;
    transition: box-shadow 0.5s, height 0.5s ease;
}

.hoverable-grid-item:hover .inner-paper {
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.hoverable-grid-item:hover .inner-paper > .inner-content > .inner-title {
    font-weight: bold;
    color: #97B5C7;
}

.hoverable-grid-item:hover .inner-paper .inner-content svg {
    fill: #97B5C7;
}

.hoverable-title {
  transition: all 0.5s ease;
}

.hoverable-grid-item:hover .hoverable-title {
  color: #97B5C7 !important;
  font-family: 'streetFighter', Arial, sans-serif;
  font-weight: bold;
}

.inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: slideDownInnerContent 1s ease-out forwards; */
}

.inner-title {
    color: #B1B1B1;
    transition: font-weight 0.5s, color 0.5s !important;
}

div .inner-title {
  font-family: 'streetFighter', Arial, sans-serif;
}

div .menu-card-inner-title:hover {
  font-family: 'streetFighter', Arial, sans-serif;
}

@keyframes ScaleInRight {
	0% {
		transform: scale(0);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 100% 100%;
	}
}

.scale-in-right {
  animation: ScaleInRight 1s ease 0s 1 normal forwards;
}

.inner-paper svg {
    fill: #B1B1B1;
    transition: fill 0.5s;
}

.center-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.content {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content; /* ensures the height fits the content inside */
    margin-bottom: 40px;
  }
  
  .content h2 {
    margin: 0; /* Remove default margin */
    position: absolute; /* Absolute positioning */
    top: 0; /* Start from the top */
    left: 50%; /* Centering using transform */
    transform: translateX(-50%);
  }
  
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #B1B1B1;
  }
  
  .content h2:nth-child(2) {
    color: #B1B1B1;
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes textSlide {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
  
    50% {
      opacity: 1;
      transform: translateX(380px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* .text-center-on-small {
    animation: textSlide 3s ease 3.5s 1 normal forwards;
} */

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  @media (max-width: 900px) {
    .firstGrid {
      padding: 40px;
    }
  
    .text-center-on-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .ryu-overlay {
      background-position: 60%;
    }
  }

  @media (max-width: 600px) {
    .inner-paper {
        width: calc(0.5 * 0.6 * (100vh - 64px));  /* Adjusted width for mobile */
        height: calc(0.5 * 0.6 * (100vh - 64px)); /* Adjusted height for mobile */
    }
  }