/* Projects.css */
.Projects-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #AAAAAA;
}

.Projects-link {
  color: #61dafb;
}