* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  margin: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .custom-image-list-item {
    width: 80% !important;  /* or any percentage/size you prefer */
    margin: 0 auto !important;
  }
}