* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This will remove the outline for mouse users but keep it for keyboard users */
.using-mouse :focus {
  outline: none;
}

h5 {
  margin: 20px;
  text-align: center;
}

.imageListItem {
  transition:  background-color 0.5s ease; /* Smooth transition for background-color */
}

.imageListItem:hover {
  cursor: pointer;
  background-color: #97B5C7 !important;
  color: white !important;
}

.featured-project video {
  width: 60%;
  max-height: 1200px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .imageListItem {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .featured-project video {
    width: 100%;
}
}