/* VideoPage.css */
.VideoPage {
  text-align: center;
  color: #B1B1B1;
}

.VideoPage-link {
  color: #61dafb;
}

button:hover {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centers the cards horizontally */
  align-items: center;     /* Centers the cards vertically (optional) */
  padding: 20px 0;         /* Adds some padding to the top and bottom */
}

.card {
  width: 300px;
  height: 200px;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Apply a blur by default */
  z-index: 0; /* Adjust the z-index to 0 */
}

/* Reduce the blur intensity when hovering over the card */
.card:hover .background-image {
  filter: blur(1px);
}

/* Hide the play and delete buttons by default */
.card .play-button, 
.card .delete-button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;; /* Smooth transition */
  z-index: 1; /* Ensure buttons are above the background image */
}

/* Show the play and delete buttons when hovering over the card */
.card:hover .play-button, 
.card:hover .delete-button {
  opacity: 1;
  visibility: visible;
}

.card .play-button {
  background-color: #97B5C7;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card .play-button:hover {
  background-color: #0056b3;
}

.card .delete-button {
  background-color: #dc3545;
  border: none;
  padding: 10px 15px;
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.card .delete-button:hover {
  background-color: #c82333;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #0056B3;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Centers children vertically */
  align-items: center;     /* Centers children horizontally */
  height: 100%;            /* Takes up the full height of the card */
  transition: all 0.5s ease-in-out;
}

.button-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  gap: 10px;           /* Adds space between the buttons */
}

.content h3 {
  color: black;
  font-weight: bold; /* Makes the text bolder */
  background-color: rgba(255, 255, 255, 0.5); /* Adds a semi-transparent white background */
  padding: 5px 10px; /* Adds some padding around the title */
  border-radius: 5px; /* Rounds the corners of the background */
  max-width: 100%; /* Adjust this value based on your design */
  white-space: normal; /* Allows the text to wrap */
  line-height: 1.2em; /* Adjust based on your design */
  max-height: 2.4em; /* Twice the line-height to allow for two lines */
  overflow: hidden; /* Hide the overflowed content */
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid #0056B3;
  }

  80% {
    border-right: 1px solid #0056B3;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

.resizable-video-container {
  border: 1px solid #ccc;
  resize: both;           /* Allows resizing in both directions */
  overflow: auto;         /* Important for the resize handle to show */
  display: inline-block;  /* Makes the container fit the video's size */
  max-width: 100%;        /* Optional: Ensures the container doesn't exceed the parent's width */
  width: 640px;           /* Default width */
  height: 360px;          /* Default height */
}

.resizable-video-container video {
  width: 100%;            /* Makes the video take the full width of its container */
  height: auto;           /* Maintains the video's aspect ratio */
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.5s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-content p {
  font-size: 30px;
}

.modal-title {
  font-weight: bold; /* Make the title bold */
  margin-bottom: 20px; /* Add some space below the title */
}

.modal-buttons {
  display: flex; /* Align the buttons horizontally */
  justify-content: space-between; /* Distribute the buttons evenly */
  margin-top: 20px; /* Add some space above the buttons */
}

.modal-btn {
  padding: 10px 20px; /* Increase the padding for the buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-btn {
  background-color: #97B5C7;
  color: white;
}

.confirm-btn:hover {
  background-color: #0056b3;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.cancel-btn:hover {
  background-color: #c82333;
}

/* Simulate hover on tap */

.card.active .play-button, 
.card.active .delete-button {
  opacity: 1;
  visibility: visible;
}

.card.active {
    border-radius: 0;
    transform: scale(1.1);
}

.card.active .background-image {
    filter: blur(1px);
}

.card.active .bottom-text {
    letter-spacing: 3px;
    opacity: 1;
    transform: translateX(-50%);
}

.card.active .content .logo-bottom-text {
    opacity: 1;
    letter-spacing: 9.5px;
}


/* Show the play and delete buttons for small devices */
@media (max-width: 768px) {
  .card .play-button, 
  .card .delete-button {
    opacity: 1;
    visibility: visible;
  }
}